/* buttonsBlock.css */
.buttons-block {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Расстояние между кнопками */
    padding: 20px; /* Отступы внутри блока */
    /*background-color: #f0f0f0; !* Фоновый цвет блока *!*/
    margin: 0 auto;
    width: max-content;
    backdrop-filter: blur(10px);
    overflow: hidden;
}
