.action-button {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    margin: 20px;
}

/* Добавьте любые другие стили, которые вам нужны */
