/* ContainerComponent.css */
.container-component {
    position: relative;
}

.buttons-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    /* Стили кнопок и другие необходимые стили */
    z-index: 10; /* Убедитесь, что это значение достаточно для отображения поверх карусели */
    gap: 20px;
}
/*.buttons-container {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 20px; !* Отступ между кнопками *!*/
/*}*/

